<div style="text-align: center;">
    <div style=" margin-top: 40px;">
        <form>
            <div>
                <div>
                    <h1><img src="assets/storefries.png" style="height: 100px;"></h1>

                </div><br>
                <div>
                    <h6>User Login</h6>
                </div><br>
            </div>
            
            <div class="input-icons">
                <input  type="text" placeholder=" Email">
                <br><br>
              
                <input  type="password" placeholder=" Password">

            </div><br>

            <div><span style="padding-right: 370px;">Forgot password?</span></div><br><br>
            <div>

                <button type="button" class="btn btn-primary button">LOGIN</button>

            </div><br>
            <div style="padding-left: 750px;">
            <table ><tr>
                <td style="width:47%"><hr/></td>
                <td style="vertical-align:middle; text-align: center">OR</td>
                <td style="width:47%"><hr/></td>
                </tr></table></div>

            <div class="row">
                <div class="col">
                    <button class="fb" style="margin:7px;border-radius: 5px;"><img src="assets/facebook.png"
                            style="height: 20px; width: 20px;">Login with Facebook</button>
                    <button class="fb" style="margin:7px; border-radius: 5px;"><img src="assets/google.png"
                            style="height: 22px; width: 25px;">Login with Google</button>
                </div>


            </div><br>

            <div>
                <p>Do not Have an account?<a href="#"> Sign up now</a></p>
            </div><br>
            <div>
                <strong>
                    Privacy policy
                </strong>
            </div>
        </form>
    </div>
</div>



<br><br><br>









<div style="text-align: center;">
    <div>
        <h1><img src="assets/storefries.png" style="height: 100px;"></h1>

    </div><br>
    <div>
        <h6>SignUp</h6>
    </div><br>
    <div>
        <input class="input-field" type="text" placeholder=" First name"><br><br>
        <input class="input-field" type="text"  placeholder=" Last name"><br><br>
        <input class="input-field" type="text"  placeholder=" Email"><br><br>
        <input class="input-field" type="text"  placeholder=" password"><br><br>
    </div>
    <div>
        <button class="btn btn-primary" style="margin:7px;border-radius: 5px;">SignUp</button>
        <button style="margin:7px;border-radius: 5px; color: white; background-color: rgba(0, 140, 255, 0.493); height: 40px ;width:80px ;" >cancel</button>
    </div>

</div>