input{
    height: 30px;
    width: 500px;
    border-radius: 5px;
    
}
small{
    padding-left: 20px;
}

.button{
    height: 30px;
    width: 450px;
}


.fb{
    background-color: white;
    outline: none;
}

hr{
    width: 200px;
}




